.image-container {
   
    img {
        border-radius: 8px;

    }
}

.description-container {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn {
    color: var(--text);
    background-color: var(--primary);

    &:hover {
        color: rgb(238, 236, 231);
        background-color: var(--darker-accent);   
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #312626;
    border-color: #312626 transparent #312626 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loading_container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }