<div class="container">
    <h1 style="text-align: center;" class="pt-4">Il nostro team</h1>
    <p style="text-align: center;">Academy .NET 4^ Milano</p>
    <div class="card-container">
        <a href="https://github.com/romerotac" class="single-card">
            <img src="../../../assets/Image/christian.jpg" alt="Christian">
            <p>Christian Romero Taipe</p>
        </a>
        <a href="https://github.com/MyNameIsAlpaca" class="single-card">
            <img src="../../../assets/Image/ermeglio.jpg" alt="Gabriele">
            <p>Gabriele Saragosa</p>
        </a>
        <a href="https://github.com/Tony-Torre" class="single-card">
            <img src="../../../assets/Image/tony.jpg" alt="Antonino">
            <p>Antonino Torre</p>
        </a>
        <a href="https://github.com/D3ENNY" class="single-card">
            <img src="../../../assets/Image/denys.jpg" alt="Denys">
            <p>Denys Raimondi</p>
        </a>
        <a href="https://github.com/PietroDeBianchi" class="single-card">
            <img src="../../../assets/Image/pietro.jpg" alt="Pietro">
            <p>Pietro De Bianchi</p>
        </a>
    </div>
</div>
