
<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" id = "carousel-box">
        <div id = "carousel">
            <h1 id = "Title">Pedalacom</h1>
            <p id = "subTitle">Scopri la libertà su due ruote! Trova la tua bici perfetta per un'avventura senza limiti.</p>
        </div>
        </div>
        <div class="carousel-item active" id = "carousel-box">
        <div id = "carousel">
            <h1 id = "Title">Pedalacom</h1>
            <p id = "subTitle">Raggiungi nuove mete pedalando! Esplora una vasta selezione di biciclette per ogni tipo di viaggio.</p>
        </div>
        </div>
        <div class="carousel-item active" id = "carousel-box">
        <div id = "carousel" >
            <h1 id = "Title">Pedalacom</h1>
            <p id = "subTitle">Scegli la tua strada, scegli la tua bici! Trova il tuo compagno di viaggio ideale e inizia a esplorare.</p>
        </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>