.cart-item-container {

    border-radius: 8px;
    &:hover {
        background-color: var(--section-darker-background);
    }

}
.image-cart{
    border-radius:8px ;
    width: auto;
    height: 48px;
    object-fit: contain;
}

.empty-cart {
    background-color: var(--main-background);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
    .btn {
        color: var(--text);
        background-color: var(--primary);
        
        &:hover {
            color: rgb(238, 236, 231);
            background-color: var(--darker-accent);   
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }
    }
}

.Img-setting{
    mix-blend-mode: multiply;
    width: 70%;
    object-fit: cover;
}

@media (max-width : 600px) {
    .input-quantity{
        width: 40px;
    }
    
    .text-mobile{
        font-size: 15px;
        width: 100px;
    }
}
    .card-cart{
        border-bottom: 2px dotted darkgray;
        border-radius: 0;
        width: 100%;
    }